/.vs
/output
/src/GreatWall.Admin/obj
/src/GreatWall.Admin/bin
/src/GreatWall.AuthenticationServer/bin
/src/GreatWall.AuthenticationServer/obj
/src/GreatWall.Data/bin
/src/GreatWall.Data/obj
/src/GreatWall.Domain/bin
/src/GreatWall.Domain/obj
/src/GreatWall.Infrastructure/bin
/src/GreatWall.Infrastructure/obj
/src/GreatWall.Service/bin
/src/GreatWall.Service/obj
/*.user
/src/GreatWall.Admin/node_modules
/src/GreatWall.Admin/wwwroot/dist
/src/GreatWall.Admin/Typings/app/home/dashboard/html
/src/GreatWall.Admin/Typings/app/systems/**/html
/src/GreatWall.Api/bin
/src/GreatWall.Api/obj
/src/GreatWall.AuthenticationServer/tempkey.rsa
/src/GreatWall.Admin/yarn.lock
/test/GreatWall.Tests/bin
/test/GreatWall.Tests/obj
/test/GreatWall.Tests.Integration/bin
/test/GreatWall.Tests.Integration/obj
/src/GreatWall.AuthenticationServer/*.user
